<aside class="admin-sidebar">
    <div class="sidebar-header">
        <a href="index.html" class="logo">My<span>Shop</span></a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="index.html" class="nav-link" id="nav-dashboard">
                    <span class="icon">📊</span> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="products.html" class="nav-link" id="nav-products">
                    <span class="icon">👕</span> <span>Sản Phẩm</span>
                </a>
            </li>
            <li>
                <a href="promotions.html" class="nav-link" id="nav-promotions">
                    <span class="icon">✨</span> <span>Khuyến mãi</span>
                </a>
            </li>
            <li>
                <a href="coupons.html" class="nav-link" id="nav-coupons">
                    <span class="icon">🎟️</span> <span>Mã Giảm Giá</span>
                </a>
            </li>
            <li>
                <a href="orders.html" class="nav-link" id="nav-orders">
                    <span class="icon">📦</span> <span>Đơn Hàng</span>
                </a>
            </li>
            <li>
                <a href="customers.html" class="nav-link" id="nav-customers">
                    <span class="icon">👤</span> <span>Khách Hàng</span>
                </a>
            </li>
             <li>
                <a href="../home.html" class="nav-link" id="nav-home">
                    <span class="icon">🏠</span> <span>Về trang chủ</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <div id="user-info-sidebar">
        </div>
    </div>
</aside>