<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Quyền -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MultipleChoiceResultDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddTopicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateTopicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CardGame"
            android:exported="false" />
        <activity
            android:name=".activity.StartCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UploadAvatarImage"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWord"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordViet"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordEnglish"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordResult"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordResultViet"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordListVocabularyEng"
            android:exported="false" />
        <activity
            android:name=".activity.TypeWordListVocabularyViet"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TopicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MultipleChoiceViewResult"
            android:exported="false" />
        <activity
            android:name=".activity.MultipleChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MultipleChoiceStartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
    </application>

</manifest>